<div class="px-4 py-5 my-3 text-center  text-white fw-semibold">
  <p class="lead mb-4">In look for a technical Course?</p>
  <h1 class="display-3  text-white ">Start <u><span class="fw-bold">learning</span></u> a new<br> language today
    <u><span class="fw-bold">with the best</span></u><br>online tutors!
  </h1>
  <!-- <div class="col-lg-6 mx-auto">
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" routerLink="/employees" class="btn btn-primary btn-lg px-4 gap-3">Manage Employees</button>
      <button type="button" routerLink="/concepts" class="btn btn-outline-secondary btn-lg px-4">Learn Concepts</button>
    </div>
  </div> -->
</div>