<div class="container-fluid mt-5 px-5">
  <div class="card">
    <!-- <img [src]="course.image" class="card-img-top" alt="{{ course.title }}" width="450" height="350"> -->
    <div class="card-body">
      <h1 class="card-title fs-2 fw-light">{{ course.title }}</h1>

      <!-- Progress Bar -->
      <div class="progress mb-4">
        <div class="progress-bar" role="progressbar" [style.width]="(currentStep / 3) * 100 + '%'"
          [attr.aria-valuenow]="currentStep" aria-valuemin="1" aria-valuemax="3"></div>
      </div>

      <!-- Step 1: Course Details -->
      <div *ngIf="currentStep === 1">
        <p class="card-text fw-semibold"><strong class="text-success fw-normal">Instructor:</strong> {{
          course.instructor }}</p>
        <p class="card-text fw-semibold"><strong class="text-success fw-normal">Duration:</strong> {{ course.duration }}
        </p>
        <p class="card-text fw-semibold"><strong class="text-success fw-normal">Description:</strong> {{
          course.description }}</p>

      </div>

      <!-- Step 2: Attachments -->
      <div *ngIf="currentStep === 2">
        <h5 class="fw-semibold text-success border-bottom w-10">Attachments</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let attachment of course.attachments">
            <a href="#" class="text-decoration-none">{{ attachment }}</a>
          </li>
        </ul>
      </div>

      <!-- Step 3: Video -->
      <div *ngIf="currentStep === 3">
        <h5 class="fw-semibold text-success border-bottom w-10">Course Video</h5>
        <div class="embed-responsive embed-responsive-16by9 px-5 py-2">

          <iframe width="800" height="500" src="https://www.youtube.com/embed/0Z3I8TSUwLI?si=0PgPvV28zOX2CQ1r"
            title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                  encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>

      </div>

      <!-- Navigation Buttons -->
      <div class="mt-3 d-flex justify-content-between">
        <button class="btn btn-secondary" type="button" (click)="previousStep()" [disabled]="currentStep === 1">
          Previous
        </button>
        <button class="btn btn-success" type="button" (click)="nextStep()" *ngIf="currentStep < 3">
          Next
        </button>
        <button class="btn btn-success" type="button" routerLink="completed" *ngIf="currentStep === 3">
          Finish
        </button>        
      </div>
    </div>
  </div>
</div>